body {
  width: 100%;
  max-width: 1300px;
  margin: 2em auto;
  font:
    1.2em/1.3 Arial,
    Helvetica,
    sans-serif;
  background-color: AntiqueWhite;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  padding: 20px;
  padding-left: 0px;
  border: 2px solid black;
}

#käyttäjäNimi-styles {
  font-size: 22px;
  padding-right: 100px;
  border: 1px solid;
  border-radius: 5px;
  margin: 7px; 
}

#salasana-styles {
  font-size: 22px;
  padding-right: 100px;
  border: 1px solid;
  border-radius: 4px;
  margin: 7px;
}
input[type="text"]:focus, input[type="password"]:focus {
  border-width: 100px;
  outline-color: black; 
  box-shadow:0 0 0 3px #4A90E2;
}
#kirjautumisNappi-styles {
  padding:4px;
  position:relative;
  left:315px;
}
#lyriikat-styles {
  font-family: 'Whitney SSm A';
}

article {
  grid-column: 2;
  grid-row: 1;
  text-align: justify;
  border-left: 1px solid #999;
  padding: 40px;
}

#kuva1 {
  position: relative;
  bottom: -24px;
  right: 10px;
}

#header1 {
  position: relative;
  padding-bottom: 50px;
  padding-top: 25px;
  padding-left: 100px;
  bottom: 60px;
  left: 0px;
  width: 92.4%;
}

aside {
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black
}

li {
  left: 100px;
}

p {
  margin: 0px;
}

header {
  text-align: top;
  left: 90px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 30px;
  background-color: #0f0f0d;
  padding: 0px;
  margin: 0px;
  letter-spacing: 2px;
  word-spacing: -5px;
  color: #DEBD0E;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

kirjautuminen {
  bottom: 100px;
  left: 100px;
}

.sivupalkki {
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.sivupalkki nav ul {
  text-indent: 10%;
  font-size: 18px;
  list-style-type: square;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
}


.sivupalkki nav ul li {
  text-indent: 5%;
  margin-left: 40px;
  color: black;
  margin-bottom: 0px;
}

.sivupalkki nav ul li a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.sivupalkki li {
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sivupalkki p {
  color: #33332D;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sivupalkki nav ul p li a:visited {
  color: black;

}

p :hover {
  background-color: #33332D;
  color: antiquewhite;
}

.sivupalkki nav li :hover {
  background-color: #33332D;
  color: antiquewhite;
}

.sivupalkki nav li :not(:hover) {
  background-color: antiquewhite;
  color: #33332D;
}
